@import 'global';

:root {
  --sf-transition: all 0.35s cubic-bezier(0.77, 0.1, 0.22, 1);
  --sf-background: #fdfdfd;
  --sf-color: #323232;
  --sf-accent-light: #6eedd8;
  --sf-accent-neutral: #008571;
  --sf-accent-dark: #003c32;
}

@import 'components/minimap';
