@function _awesome-header--gradient($color, $steps) {
  $gradient: ();

  //////////////////////////////
  // Max Params
  //////////////////////////////
  $max-alpha: 1 - ((1 / $steps) * 2);
  $max-half: round(($steps - 2) / 2);

  //////////////////////////////
  // Steps
  //////////////////////////////
  $full-step: 1 / $steps;
  $half-step: $full-step / 2;
  $loc-step: 100% / $steps;

  //////////////////////////////
  // Initialize
  //////////////////////////////
  $alpha: 0;
  $location: $loc-step;

  $gradient: append($gradient, rgba($color, $alpha) $location);

  //////////////////////////////
  // Loop
  //////////////////////////////
  @for $i from 1 through $steps - 2 {
    @if $i <= $max-half {
      $alpha: $alpha + $half-step;
    }
    @else {
      $alpha: $alpha + $full-step;
    }


    $gradient: append($gradient, rgba($color, $alpha) $location, 'comma');

    $location: $location + $loc-step;

    $gradient: append($gradient, rgba($color, $alpha) $location, 'comma');
  }

  $gradient: append($gradient, rgba($color, $max-alpha) $location);

  @return $gradient;
}
