.btns {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;

  &--btn {
    $size: 2.5em;
    height: $size;
    width: $size;
    padding: 0;
    border: 0;
    margin: 0 1em;
    background: none;
    cursor: pointer;

    fill: $background;
    // stroke: rgba(black, .25);
  }

  &--hidden {
    height: 0;
    width: 0;
    color: transparent;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
  }
}
