%timing {
  flex: 1;
  font-family: sans-serif;
  font-size: 2em;
}

.clock {
  @extend %timing;
  text-align: right;
}

.timer {
  @extend %timing;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

[data-mute] {
  opacity: .5;
}
