.fragment {
  .stage-fright & {
    opacity: 0;
    transition: var(--sf-transition);
    transition-duration: .25s;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &[data-active] {
      opacity: 1;
    }
  }

  .reduce-motion & {
    transition: none;
  }
}
