.minimap {
  display: none;

  .stage-fright & {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    transition: var(--sf-transition);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &--section {
    display: flex;
  }

  &--slide {
    display: block;
    box-sizing: border-box;
    background-color: var(--sf-accent-neutral);
    border: 1px solid var(--sf-accent-neutral);
    transition: var(--sf-transition);
    color: transparent;
    text-shadow: none;
    font-size: 1px;
    overflow: hidden;

    &:hover,
    &:focus {
      background-color: var(--sf-accent-light);
      color: transparent;
      text-shadow: none;
    }

    &[data-active] {
      background-color: var(--sf-accent-dark);
    }

    &[data-fragments='true'] {
      opacity: 0.5;
    }
  }
}
