.sf-dialog {
  display: none;
  position: absolute;
  top: 10vw;
  left: 10vw;
  z-index: 1003;
  background: white;
  width: 80vw;
  padding: 1rem;
  flex-direction: column;
  border-radius: 5px;
  font-size: 20px;
  max-height: calc(100vh - 20vw);
  overflow: auto;

  &--body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    grid-gap: 1em;
  }

  p {
    font-size: 0.8em;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
  }

  &--keyboard {
    dl {
      display: block;
      padding: 0;
    }

    dt {
      text-align: left;
      margin-top: 1em;
    }

    dd {
      font-size: 0.8em;
      margin-left: 0.25rem;
      + dd {
        margin-top: 0.25rem;
      }
    }
  }

  &--iconography {
    // dt,
    // dd {
    //   margin-top: 0.5rem;
    // }

    dl {
      grid-row-gap: 1em;
      padding: 0;
      margin-top: 1em;
    }

    dd {
      margin-top: -0.27em;
    }
  }

  &--close {
    position: fixed;
    top: calc(10vw + 0.5rem);
    right: calc(10vw + 0.5rem);
    border: 0;
    background: 0;
  }

  &--sr-only {
    height: 1px;
    width: 1px;
    color: transparent;
  }
}

.sf-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1002;
  background: rgba(black, 0.5);
}
