.slide-notes {
  font-family: sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .75em;

  &--label {
    font-size: 1px;
    color: transparent;
  }

  &--content {
    columns: 2;
    column-gap: 1rem;

    * {
      break-inside: avoid;
    }
  }
}
