.stage-fright {
  overflow: hidden;
  font-size: 150%;
  font-weight: 400;
}

._stage {
  width: 100vw;
  height: 100vh;
  will-change: transform;
  transition: $transition;
  display: flex;

  &--group {
    width: 100vw;
    flex-shrink: 0;
  }

  &--slide {
    align-items: center;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    [data-overlay] & {
      filter: blur(20px);
      transition: $transition;

      &:hover,
      &:focus {
        filter: none;
        cursor: pointer;
      }
    }
  }

  &--content {
    max-width: 67vw;
    max-height: 100vh;
    width: 100%;
  }

  &--notes {
    position: fixed;
    top: 0;
    right: 0;
    height: 1px;
    width: 1px;
    color: transparent;
    overflow: hidden;
  }
}
