body {
  margin: 0;
}

.stage-fright {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  &.embedded {
    font-size: 1.75vw;
  }
}

._stage {
  box-sizing: border-box;
  
  &--slide {
    display: flex;
    
    position: relative;
    box-sizing: border-box;

    .stage-fright & {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }
  }

  .stage-fright & {
    height: 100vh;
    width: 100vw;
    will-change: transform;
    transition: var(--sf-transition);
    display: flex;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &[data-hidden="true"] {
      display: none;
    }

    &--group {
      width: 100vw;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    &--content {
      max-height: 100vh;
      box-sizing: border-box;
    }

    &--notes {
      position: fixed;
      top: 0;
      right: 0;
      height: 1px;
      width: 1px;
      color: transparent;
      overflow: hidden;
      border: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }

  .reduce-motion & {
    transition: none;
  }
}

//     [data-overlay] & {
//       filter: blur(20px);
//       transition: var(--sf-transition);

//       &:hover,
//       &:focus {
//         filter: none;
//         cursor: pointer;
//       }
//     }
//   }
