.stage-fright {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  &.embedded {
    font-size: 1.75vw;
  }
}

._stage {
  &--slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &[data-state="intro"],
    &[data-state="outro"] {
      height: 100vh;
      width: 100vw;
    }
  }

  &--content {
    max-width: 80ch;
    width: 100%;
    padding: 0 1rem;
  }

  &--notes {
    font-size: .75em;
    margin-top: 1rem;
    border: 1px solid rgba(black, .25);
    border-left-width: .5em;
    padding: 1rem;
    max-width: calc(80ch);
    width: calc(100% - 2rem);
  }

  &--group &--slide:last-of-type {
    border-bottom: 1px solid rgba(black, .25);
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  &--group:last-of-type {
    margin-top: -1em;
  }

  &--group:last-of-type &--slide:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .stage-fright & {
    height: 100vh;
    width: 100vw;
    will-change: transform;
    transition: $transition;
    display: flex;

    &[data-hidden="true"] {
      display: none;
    }

    &--group {
      width: 100vw;
      flex-shrink: 0;
    }

    &--group:last-of-type {
      margin-top: 0;
    }

    &--slide {
      padding: 1em 2em;
      align-items: center;
      border: 0;
      display: flex;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      padding: 0;
    }

    &--content {
      // max-width: 67vw;
      max-height: 100vh;
    }

    &--notes {
      position: fixed;
      top: 0;
      right: 0;
      height: 1px;
      width: 1px;
      color: transparent;
      overflow: hidden;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}

//     [data-overlay] & {
//       filter: blur(20px);
//       transition: $transition;

//       &:hover,
//       &:focus {
//         filter: none;
//         cursor: pointer;
//       }
//     }
//   }
